#map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.btn-flex{
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin: 10px;
}

.btn-container {
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  z-index: 1000;
  font-size: 14px;
}

.btn {
  z-index: 1000;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 4px;
  transition: background-color 0.2s ease;
  text-align: center;
  cursor:pointer;
}

.btn:hover {
  background-color: #d0d0d0; 
}

.btn.active {
  background-color: #a0a0a0;
}

.route-display {
  width: 140px;
  height: 40px;
  margin-right: 10px;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.2s ease, opacity 0.2s ease;
}

.textBox {
  font-size: 14px;
  color: red;
  display:inline-block;
  width: 140px;
  background-color: white;
  margin:0;
}

.mamListBox {
  width: 140px;
  height: 40px;
  margin-right: 10px;
}

.mamListBox > a {
  display: block;
  text-decoration: none;
  background: #fff;
  color: #000;
  width: 140px;
  height: 40px;
  border-radius: 4px; 
  font-size: 14px; 
}

.mamListBox > a:hover {
  background-color: #d0d0d0;
}

.mamListBox > a:active {
  background-color: #a0a0a0;
}

.mamListBox > a > div {
  display: inline-block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 140px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mamListBox > select {
  margin: 0;
  display: none;
  font-size: 14pt;
  border-radius: 4px;
  border: 1px solid #CCC;
  z-index: 1001; 
  top: 40px; 
}

.mamListBox select:focus {
  outline: none;
}

.textForm {
  z-index: 1001; 
  margin-right: 10px;
}

.formBox {
  width: 50px;
}

.formLabel {
  background-color: white;
}

.radio-type {
  background-color: white; 
  margin-right: 10px;
  margin-top: 10px;
  z-index: 1001; 
}

.icon-red { 
  filter: hue-rotate(150deg);
}  