<!DOCTYPE html>
<html>
<head>
  <title>Leaflet Map</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
  <link rel="stylesheet" href="static\css\styles.css" />
</head>
<body>
  <div id="map"></div>
  <div class="btn-flex">
    <div class="textForm">
      <p><label class="formLabel">移動許容距離(m)<input type="text" value="300" id="moveDist" class="formBox"></label></p>
    </div>
    <div class="btn mamListBox">
      <a href="javascript:void(0)">
        <div>経由地点指定</div>
      </a>
      <select size="3" data-role="none">
        <option value="location">経由地点指定</option>
        <option value="start">出発地点指定</option>
        <option value="end">到着地点指定</option>
      </select>
    </div>
    <div class="btn-container">
      <button id ="btn_TSP" class="btn route-display">巡回経路表示</button>
      <p id="btn_TSP_text" class="textBox hidden"></p>
    </div>
    <div class="btn-container">
      <button id ="btn_SRP" class="btn route-display">相乗り経路表示</button>
      <p id="btn_SRP_text" class="textBox hidden"></p>
    </div>
    <div class="radio-type">
      <label><input type="radio" name="type" value="type1" checked>1</label>
      <label><input type="radio" name="type" value="type2">2</label>
    </div>
  </div>

  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="static\js\main.js"></script>    
</body>

</html>
