<!DOCTYPE html>
<html>
<head>
  <title>Leaflet Map</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
  <link rel="stylesheet" href="static\css\styles.css" />
</head>
<body>
  <div id="map"></div>
  <div class="button-container button-top-right">
    <button id="button1" class="custom-button">経路表示</button>
  </div>

  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="static\js\main.js"></script>    
</body>

<div class="mamListBox">
  <a href="javascript:void(0)">
    <div>出発地点指定</div>
  </a>
  <select size="3" data-role="none">
    <option value="start">出発地点指定</option>
    <option value="location">経由地点指定</option>
    <option value="end">到着地点指定</option>
  </select>
</div>

</html>
