<!DOCTYPE html>
<html>
<head>
  <title>Leaflet Map</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
  <link rel="stylesheet" href="static\css\styles.css" />
</head>
<body>
  <div id="map"></div>
  <div class="btn-flex">
    <div class="textForm">
      <p><label class="formLabel">Maximum Walking Distance(m)<input type="text" value="300" id="moveDist" class="formBox"></label></p>
    </div>
    <div class="btn mamListBox">
      <a href="javascript:void(0)">
        <div>Transit Point</div>
      </a>
      <select size="3" data-role="none">
        <option value="location">Transit Point</option>
        <option value="start">Departure Point</option>
        <option value="end">Arrival Point</option>
      </select>
    </div>
    <div class="btn-container">
      <button id ="btn_TSP" class="btn route-display">Traveling Route</button>
      <p id="btn_TSP_text" class="textBox hidden"></p>
    </div>
    <div class="radio-type">
      <label><input type="radio" name="type-traveling" value="type1" checked>christofides</label>
      <!-- <label><input type="radio" name="type-traveling" value="type2">christofides+annealing</label> -->
      <label><input type="radio" name="type-traveling" value="type3">greedy+annealing</label>
    </div>
    <div class="btn-container">
      <button id ="btn_SRP" class="btn route-display">Share-Ride Route</button>
      <p id="btn_SRP_text" class="textBox hidden"></p>
    </div>
    <div class="radio-type">
      <label><input type="radio" name="type" value="type1" checked>new method</label>
      <label><input type="radio" name="type" value="type4">old method</label>
      <label><input type="radio" name="type" value="type2">2-opt</label>
      <label><input type="radio" name="type" value="type3">annealing</label>
    </div>
  </div>

  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="static\js\main.js"></script>    
</body>

</html>
